.nav {
  background-color: royalblue;
  padding: 20px 50px;
}

.nav .list_nav {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 16px;
}

.nav .title {
  color: #fff;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav button {
  margin-left: 20px;
  padding: 6px 12px;
  border-radius: 10px;
  background-color: teal;
  border: none;
  color: #fff;
  cursor: pointer;
}
