.box {
  margin: 100px;
  width: 300px;
  height: 300px;
  box-shadow: 10px -20px 30px 40px #999;
}

/* 10px : 수평방향의 그림자 오프셋 길이, 양수값 -> 오른쪽, 음수값 -> 왼쪽에 그림자 생김 */
/* 20px : 수직 그림자 오프셋 길이, 양수값 -> 박스아래, 음수값 -> 박스 위에 그림자 생김  */
/* 30px : 그림자의 blur radius를 나타냄, 음수값 지정 X , 값이 클수록 그림자 끝이 흐려지고, 값이 0이면 선명한 그림자 */
/* 40px : 그림자 확산 거리, 양수값 -> 그림자의 전방위로 확대, 음수값 -> 그림자의 크기가 줄어든다.  */