<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DarkMode</title>
    <link rel="stylesheet" href="./style.css" />
    <script
      src="https://kit.fontawesome.com/6ce1078f17.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Dark Mode Switch -->
    <div class="theme-switch-wrapper">
      <span id="toggle-icon">
        <span class="toggle-text">Light Mode</span>
        <i class="fas fa-sun"></i>
      </span>
      <label class="theme-switch">
        <input type="checkbox" />
        <div class="slider round"></div>
      </label>
    </div>
    <!-- Main -->
    <main>
      <h1>Header Text</h1>
      <h2>Sub Header</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae mollitia,
        deleniti corrupti tempore facere amet vero temporibus nulla eaque non
        est animi repudiandae aliquam quo voluptatum laudantium reiciendis ad
        nemo?
      </p>
      <div class="text-box">
        <span>text</span>
        <span>text</span>
        <span>text</span>
      </div>
    </main>

    <script src="./script.js"></script>
  </body>
</html>
